@font-face {
    font-family: iransansweb;
    src: url(../../fonts/iransans/iransans.ttf);
}
@font-face {
    font-family: iranyekanweb;
    src: url(../../fonts/iranyekan/iranyekan.ttf);
}
.parent{
    width: 100%;
    height: auto ;
    display: flex;
  
    justify-content: center;
    align-items: center;
    background-color: azure;
}
.parent_center{
    max-width: 1600px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center; 
    flex-direction: column-reverse;
}
@media only screen and (min-width : 320px){
    .parent{
        width: 100%;
        height: auto ;
        display: flex;
      
        justify-content: center;
        align-items: center;
        background-color: azure;
    }
    .parent_center{
        max-width: 1600px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center; 
        flex-direction: column-reverse;
    }
}
@media only screen and (min-width : 460px){
    .parent{
        width: 100%;
        height: auto ;
        display: flex;
      
        justify-content: center;
        align-items: center;
        background-color: azure;
    }
    .parent_center{
        max-width: 1600px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center; 
        flex-direction: column-reverse;
    }
}
@media only screen and (min-width : 600px){
    .parent{
        width: 100%;
        height: auto ;
        display: flex;
      
        justify-content: center;
        align-items: center;
        background-color: azure;
    }
    .parent_center{
        max-width: 1600px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center; 
        flex-direction: column-reverse;
    }
}
@media only screen and (min-width : 720px){
    .parent{
        width: 100%;
        height: auto ;
        display: flex;
      
        justify-content: center;
        align-items: center;
        background-color: azure;
    }
    .parent_center{
        max-width: 1600px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center; 
        flex-direction: column-reverse;
    }
}
@media only screen and (min-width : 800px){
    .parent{
        width: 100%;
        height: auto ;
        display: flex;
      
        justify-content: center;
        align-items: center;
        background-color: azure;
    }
    .parent_center{
        max-width: 1600px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center; 
        flex-direction: column-reverse;
    }
}
@media only screen and (min-width : 960px){
    .parent{
        width: 100%;
        height: auto ;
        display: flex;
      
        justify-content: center;
        align-items: center;
        background-color: azure;
    }
    .parent_center{
        max-width: 1600px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center; 
        flex-direction: column-reverse;
    }
}
@media only screen and (min-width : 1080px){
    .parent{
        width: 100%;
        height: 100vh ;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: azure;
    }
    .parent_center{
        max-width: 1600px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;

    }
}
@media only screen and (min-width : 1180px){
    .parent{
        width: 100%;
        height: 100vh ;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: azure;
    }
    .parent_center{
        max-width: 1600px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;

    }
}
@media only screen and (min-width : 1260px){
    .parent{
        width: 100%;
        height: 100vh ;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: azure;
    }
    .parent_center{
        max-width: 1600px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;

    }
}
@media only screen and (min-width : 1366px){
    .parent{
        width: 100%;
        height: 100vh ;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: azure;
    }
    .parent_center{
        max-width: 1600px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;

    }
}