@font-face {
    font-family: iransansweb;
    src: url(../../fonts/iransans/iransans.ttf);
}
@font-face {
    font-family: iranyekanweb;
    src: url(../../fonts/iranyekan/iranyekan.ttf);
}
.parent{
    width: 100%;
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    background-color: azure;
}
.parent_center{
    max-width: 1600px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}